/* Universal Elements */

body {
    padding: 10px;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

p {
    text-align: left;
    margin: 20px 10%;
}

button {
    border: 2px solid darkgreen;
    border-radius: 4px;
    background: black;
    color: rgb(144, 238, 144);
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
    border: 2px solid lightgreen;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    height: 0.5px;
    background: white;
}

/* Main Menu Elements */

#main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 0 0;
}

#spade-img {
    height: 200px;
    width: 100%;
}


/* CPU Elements */

#cpu-message {
    background: darkgreen;
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
    font-size: 20px;
    /* font-weight: bold; */
}

#cpu-panel {
    display: inline-flex;
    visibility: hidden;
    background: black;
    color: white;
    /* flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px; */
}

#matches-and-difficulty-info-box {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    border: 2px solid darkgreen;
    box-sizing: border-box;
    padding: 5px 20px;
}

#cpu-score-box {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    border: 2px solid darkgreen;
    box-sizing: border-box;
    padding: 5px 20px;
}

#current-difficulty {
    color: yellow;
}

/* Player Elements */

#player-panel {
    display: inline-flex;
    visibility: hidden;
    background: color;
}

#player-score-box {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background: black;
    border: 2px solid darkgreen;
    padding: 0px 20px;
    box-sizing: border-box;
    gap: 20px; 
}

#player-options {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    background: black;
    border: 2px solid darkgreen;
    padding: 0px 20px;
    box-sizing: border-box;
}

/* Card Elements */

#decks-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-main-stack, #cpu-main-stack {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-card1, #player-card2, #cpu-card1, #cpu-card2{
    display: block;
    margin: 10px 1px;
    width: 40px;
    visibility: hidden;
    font-size: 24px;
}

#player-card2, #cpu-card2 {
    display: none;
}

#player-war-stack, #cpu-war-stack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    visibility: hidden;
}

#player-war-card3, #player-war-card4, #player-war-card5, #cpu-war-card3, #cpu-war-card4, #cpu-war-card5 {
    display: none;
}

#cpu-facedown-war-stack-cards, #cpu-faceup-war-stack-card, #player-facedown-war-stack-cards, #player-faceup-warstack-card {
    display: flex;
}

#deck-1, #deck-2 {
    margin: 10px 50px;
    padding: 39px 25px;
}

/* Classes */

.card-template {
    display: block;
    background: black;
    color: lightgreen;
    border: 4px solid darkgreen;
    border-radius: 4px;
    padding: 25px 5px;
    margin: 10px;
}

.facedown-card {
    background-image: url(./images/spade.svg), linear-gradient(green, black);
    background-size: 5px;
    background-repeat: round;
    /* background: green; */
    padding: 39px 5px;
}

.clickable-card:hover {
    border: 4px solid lightgreen;
}

.war-stack-card {
    margin: 10px -15px;
    width: 40px;
    visibility: hidden;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.inactive-button {
    border: 2px solid gray;
    color: gray; 
}

.inactive-button:hover {
    border: 2px solid gray;
    cursor: auto;
}

.inactive-card:hover {
    border: 4px solid darkgreen;
    cursor: auto;
}

/* Media queries
Desktop: 1200px and above
Tablets: 768px and below.
Mobile:  480px and below.
*/

@media (max-width: 768px) {
    button {
        border: 2px solid darkgreen;
        border-radius: 4px;
        background: black;
        color: lightgreen;
        padding: 10px 20px;
        font-size: 20px;
        margin: 0;
    }

    #player-score, #player-coins, #cpu-score, #cpu-coins {
        width: 50px;
    }

    #player-options button {
        width: 100px;
    }

    #matches-counter {
        width: 80px;
    }

    #current-difficulty {
        width: 175px;
    }

    #cpu-message {
        font-size: 20px;
    }

    #player-options {
        margin: 0;
        padding: 5px 20px;
        gap: 20px;
    }

    #main-menu-header {
        width: 265px;
        margin: 0 auto;
    }

    #main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    #start-game-button, #rules-button {
        margin: 10px;
    }

    #deck-1, #deck-2 {
        padding: 39px 25px;
    }

    .card-template {
        display: block;
        background: black;
        color: lightgreen;
        border-radius: 4px;
        padding: 25px 5px;
        margin: 10px;
    }

    .facedown-card {
        background-image: url(./images/spade.svg), linear-gradient(green, black);
        background-size: 5px;
        background-repeat: round;
        padding: 39px 5px;
    }

    .war-stack-card {
        margin: 10px -15px;
        width: 40px;
    }

    #deck-1, #deck-2 {
        margin: 10px 50px;
        padding: 39px 25px;
    }

    #player-war-stack, #cpu-war-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        font-size: 24px;
    }
}

@media (max-width: 585px) {
    button {
        border: 2px solid darkgreen;
        border-radius: 4px;
        background: black;
        color: lightgreen;
        padding: 10px 20px;
        font-size: 18px;
        margin: 0;
    }

    #player-score, #player-coins, #cpu-score, #cpu-coins {
        width: 100px;
        font-size: 18px;
    }

    #player-options button {
        width: 100px;
        font-size: 18px;
    }

    #matches-counter {
        width: 70%;
        font-size: 18px;
    }

    #current-difficulty {
        width: 80%;
        font-size: 18px;
    }

    #cpu-message {
        font-size: 18px;
    }

    #player-options {
        margin: 0;
        padding: 5px 20px;
        gap: 20px;
    }

    #player-score-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid darkgreen;
        padding: 5px 20px;
        box-sizing: border-box;
        gap: 5px; 
    }

    #matches-and-difficulty-info-box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0px;
        border: 2px solid darkgreen;
        box-sizing: border-box;
        padding: 5px 20px;
    }

    #cpu-score-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        border: 2px solid darkgreen;
        box-sizing: border-box;
        padding: 5px 20px;
    }

    #player-panel {
        flex-direction: column;
        gap: 10px;
    }

    #cpu-panel {
        flex-direction: column;
        gap: 10px;
    }

    #main-menu-header {
        width: 265px;
        margin: 0 auto;
    }

    #main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    #start-game-button, #rules-button {
        margin: 10px;
    }

    #deck-1, #deck-2 {
        padding: 39px 25px;
    }

    .card-template {
        display: block;
        background: black;
        color: lightgreen;
        border-radius: 4px;
        padding: 25px 5px;
        margin: 10px;
    }

    .facedown-card {
        background-image: url(./images/spade.svg), linear-gradient(green, black);
        background-size: 5px;
        background-repeat: round;
        padding: 39px 5px;
    }

    .war-stack-card {
        margin: 10px -15px;
        width: 40px;
    }

    #deck-1, #deck-2 {
        margin: 10px 50px;
        padding: 39px 25px;
    }

    #player-war-stack, #cpu-war-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        font-size: 24px;
    }
}

@media (max-width: 425px) {
   button {
        border: 2px solid darkgreen;
        border-radius: 4px;
        background: black;
        color: lightgreen;
        padding: 10px 20px;
        font-size: 20px;
        margin: 0;
    }

    #player-score, #player-coins, #cpu-score, #cpu-coins {
        width: 100px;
        font-size: 16px;
    }

    #player-options {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: end;
        border: 2px solid darkgreen;
        padding: 5px 10px;
        box-sizing: border-box;
        gap: 10px;
    }

    #player-options button {
        padding: 5px 5px;
        font-size: 18px;
        max-width: 75px;
    }

    #matches-counter {
        width: 100%;
        font-size: 16px;
    }

    #current-difficulty {
        width: 80%;
        font-size: 16px;
    }

    #cpu-message {
        font-size: 16px;
    }

    #player-options {
        margin: 0;
        text-align: right;
    }

    #player-options button {
        width: 100%;
        font-size: 16px;
    }

    #main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    #start-game-button, #rules-button {
        margin: 10px;
    }

    #deck-2 {
        padding: 46px 30px;
    }

    #player-options button {
        width: 100px;
        font-size: 16px;
    }

    #player-score-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 2px solid darkgreen;
        padding: 5px 20px;
        box-sizing: border-box;
        gap: 5px; 
    }

    #matches-and-difficulty-info-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
        border: 2px solid darkgreen;
        box-sizing: border-box;
        padding: 5px 20px;
    }

    #cpu-score-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 5px;
        border: 2px solid darkgreen;
        box-sizing: border-box;
        padding: 5px 20px;
    }

    .card-template {
        display: block;
        background: black;
        color: lightgreen;
        border-radius: 4px;
        padding: 25px 5px;
        margin: 10px;
    }

    .facedown-card {
        background-image: url(./images/spade.svg), linear-gradient(green, black);
        background-size: 5px;
        background-repeat: round;
        padding: 39px 5px;
    }

    .war-stack-card {
        margin: 10px -15px;
        width: 40px;
    }

    #deck-1, #deck-2 {
        margin: 10px 50px;
        padding: 39px 25px;
    }

    #player-war-stack, #cpu-war-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        font-size: 24px;
    }
}

/* Good up until max-width: 340px */

@media (max-width: 340px) {

}