body {
    margin: 20px;
    background: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}

p {
    text-align: left;
    margin: 20px 10%;
}

button {
    border: 2px solid darkgreen;
    border-radius: 4px;
    background: black;
    color: rgb(144, 238, 144);
    padding: 10px 20px;
    font-size: 20px;
    margin: 10px;
}

a {
    text-decoration: none;
}


button:hover {
    cursor: pointer;
    border: 2px solid lightgreen;
}

hr {
    border: none;
    height: 0.5px;
    background: white;
}

#main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px 0 0 0;
}

#spade-img {
    height: 200px;
    width: 100%;
}

#player-score, #cpu-score {
    font-size: 20px;
    margin: 20px;
}

#player-score {
    text-align: left;
}

#cpu-score {
    text-align: right;
}

#decks-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

#player-card, #cpu-card{
    display: block;
    margin: 0 auto;
    width: 40px;
    visibility: visible;
    font-size: 24px;
}

#player-war-stack, #cpu-war-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 10px;
}

#player-deck, #cpu-deck {
    margin: 0 50px;
    padding: 46px 30px;
}

#cpu-message {
    text-align: center;
    margin: -5px 0;
    font-size: 20px;
}

#options-menu {
    visibility: hidden;
}

.card-template {
    display: block;
    background: black;
    color: lightgreen;
    border: 4px solid darkgreen;
    border-radius: 4px;
    padding: 30px 10px;
    margin: 10px;
}

.facedown-card {
    background: green;
    padding: 46px 10px;
}

.clickable-card:hover {
    border: 4px solid lightgreen;
}

.war-stack-card {
    margin: 10px 40px;
    width: 40px;
    visibility: visible;
}

.italic {
    font-style: italic;
}

#restart-game-button {
    margin: 20px;
}

#player-options {
    margin: -60px 0;
}

#symbol {
    width: 300px;
    height: 300px;
}

/* Media queries
Desktop: 1200px and above
Tablets: 768px and below.
Mobile:  480px and below.
*/

@media (max-width: 768px) {
   button {
        border: 2px solid darkgreen;
        border-radius: 4px;
        background: black;
        color: lightgreen;
        padding: 10px 20px;
        font-size: 16px;
        margin: 0;
    }

    #player-options {
        margin: 0;
        text-align: right;
    }

    #main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    #start-game-button, #rules-button {
        margin: 10px;
    }

    #cpu-deck {
        padding: 46px 30px;
    }

    .card-template {
        display: block;
        background: black;
        color: lightgreen;
        border: 4px solid darkgreen;
        border-radius: 4px;
        padding: 30px 10px;
        margin: 10px;
    }

    .facedown-card {
        background: green;
        padding: 46px 10px;
    }

    #player-deck, #cpu-deck {
        margin: 0px 50px;
        padding: 45px 30px;
        background: green;
    }

    #player-war-stack, #cpu-war-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        font-size: 24px;
        gap: 40px;
    }
}

@media (max-width: 480px) {
   button {
        border: 2px solid darkgreen;
        border-radius: 4px;
        background: black;
        color: lightgreen;
        padding: 10px 20px;
        font-size: 16px;
        margin: 0;
    }

    #player-options {
        margin: 0;
        text-align: right;
    }

    #main-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    #start-game-button, #rules-button {
        margin: 10px;
    }

    #cpu-deck {
        padding: 46px 30px;
    }

    .card-template {
        display: block;
        background: black;
        color: lightgreen;
        border: 4px solid darkgreen;
        border-radius: 4px;
        padding: 30px 10px;
        margin: 10px;
    }

    .facedown-card {
        background: green;
        padding: 46px 10px;
    }

    #player-deck, #cpu-deck {
        margin: 0px 50px;
        padding: 45px 30px;
        background: green;
    }

    #player-war-stack, #cpu-war-stack {
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        font-size: 24px;
        gap: 20px;
    }
}

@media (min-width: 1200px) {
    /*For desktop screens*/
}



